/* Remove the border and padding from .faq-item */
.faq-item {
  margin-bottom: 50px;
}

/* Style the question text */
.question {
  font-weight: bold;

  cursor: pointer;
 font-size: 20px;
font-family: 'Futura Medium', sans-serif;
color: rgb(9, 43, 144);
}

/* Initially hide the answer */
.answer {
  display: none;
margin-top: 10px;
font-size: 18px;
 max-width: 1000px; /* Adjust the value as needed */
font-family: 'Futura Medium', sans-serif;
}
header {
  text-align: center;
  margin-bottom: 20px;
}

.main-header {
  font-size: 26px;
  font-weight: bold;
font-family: 'Futura Medium', sans-serif;
color: rgb(9, 43, 144);
}

.sub-header {
  font-size: 18px;
  color: rgb(255,0 , 0); /* Adjust the color as needed */

